.container{
    text-align: center;
    margin: 2rem;

    a{
        display: block;
        padding: 1rem;
        background-color: var(--clr-dark-transparent);
        border: 2px solid var(--clr-light-transparent);
        border-radius: 5px;
        transition: ease-in-out 0.5s;
        max-width: 150px;
        margin: auto;

        &:hover{
            border-radius: 50px;
            border-color: var(--clr-main);
        }
    }
}