.container{
    .element{
        .item, a{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .selected{
            background-color: var(--clr-light-transparent);
        }

        img{
            border-radius: 50px;
            background-color: var(--clr-light-transparent);
            border: 1px solid var(--clr-light-transparent);
            width: 30px;
            height: 30px;
            margin-right: 0.5rem;
        }

        svg{
            display: flex;
            font-size: 1.2rem;
        }

        }
}