.container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-background);
    z-index: 1;
    max-width: 900px;
    margin: auto;

    .items{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}