.container{
    border-radius: 5px;
    border: 1px solid var(--clr-light-transparent);
    margin-bottom: 0.5rem;
    transition: 0.5s ease-in-out;
    padding: 0.5rem;

    &:hover{
        border-radius: 40px;
        background-color: var(--clr-light-transparent);
        border-color: var(--clr-main);
    }
}

.selected{
    border: 1px solid var(--clr-main);
    background-color: var(--clr-dark-transparent);
}